In [3]:
import sqlite3

# Create new database file
conn = sqlite3.connect("employee_data.db")
cursor = conn.cursor()

# Create employee table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary INTEGER,
    join_date TEXT
)
''')

# Insert data
cursor.execute("INSERT INTO employees VALUES (1, 'Amit', 'HR', 50000, '2020-01-10')")
cursor.execute("INSERT INTO employees VALUES (2, 'Sneha', 'IT', 70000, '2019-03-15')")
cursor.execute("INSERT INTO employees VALUES (3, 'Rahul', 'Finance', 65000, '2021-07-01')")
cursor.execute("INSERT INTO employees VALUES (4, 'Pooja', 'IT', 80000, '2022-11-05')")

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: employees.id

In [2]:
import pandas as pd
conn = sqlite3.connect("employee_data.db")

query = "SELECT * FROM employees WHERE department = 'IT'"
df = pd.read_sql_query(query, conn)

print("Employees in IT department:")
print(df)

conn.close()

ModuleNotFoundError: No module named 'pandas'